明確なミッションのもとで、自分の成長が実感できるよ！

フロイデは経営理念（ミッション・ビジョン・バリュー）、特にミッションがとってもクリアなんだよ。
このミッションに沿って中長期計画、3か年契約・年間計画が明確になっているんだ。
その中の中長期計画に伴って、フロイデは、"常にエンジニアをストレッチゾーンにおいて成長を促す"という育成方針を打ち出しているんだよ。
フロイデのエンジニアになったら、様々なことにチャレンジしながら、スピード感あふれる自身の成長を実感できるよ。

フロイデのビジョンに基づいて、フロイデ経由による転職、フロイデの出資を受けての独立を、退職金増額の形で積極的に支援しているよ。

フロイデは東京で新しい技術を習得したい社員を全面バックアップしているよ。
東京勤務者には毎月5万円の首都圏手当てを完備。
"今東京に住んでいるけれどいずれは福岡・北九州に帰りたい"という人も、是非お気軽にフロイデに相談してね。
フロイデはラボ型IT支援サービスで、お客様先に常駐せずに自社でお客様のIT支援を行うスタイルをとっているんだ。
現在は全社的に在宅勤務を奨励していて、福岡・北九州という枠以外で、在宅で勤務する社員も増えているよ。

技術者教育に力を入れているフロイデは、新人研修では未経験者向を3か月間でWebエンジニアとするQ-Tech-bootcampを行って、3か月間しっかり基礎知識を習得させているんだよ。

また、新人だけでなく、フロイデは全社員対象に、業務時間中に月1回外部講師を招いての講義を行っているんだ。

著名な講師陣によって行われる講義には、スキルアップへのヒントが沢山！

フロイデは技術者のスキルアップを徹底支援するよ。
資格取得／書籍購入／セミナー・研修受講等に関しては他社に比べかなり充実したものになっているんだ。

資格取得にかかる受験費用負担（落ちても1回は支給）。
資格試験合格者へ報奨金
技術書書籍購入費負担。
未経験者は3か月間Q-Tech-bootcampに参加可能。

充実した福利厚生で、産休･育休･時短/在宅勤務･介護休暇等実績多数！

代表自身が2人のこどもをかかえて育児に奮闘する母親の為、産休･育休の制度がしっかり整っているよ。
産休や育休はもちろん、介護休暇の取得実績もしっかりあるんだ。
 ｢社員が安心して働ける会社｣をモットーに、男性社員も有休はもちろん、育児休暇から時短勤務・在宅勤務等が非常にとりやすい社風となっているよ。

男性社員も女性社員も安心して働けるよう、ワークライフバランスを大切にしているよ。

特に釣りが好きな人、音楽が好きな人、ゲーム・アニメ・アイドルが好きな人にはうってつけの職場なんだ。

3ヶ月間の未経験者研修でしっかりサポート！

3ヶ月間しっかりQ-tech-bootcampで未経験者研修を行うよ。

フロイデではそんなやる気のある技術者に対してもチャンスを用意しているんだ。

毎月業務時間中に開催される社内活動だけでなく、 社員が任意で参加できる、最新技術を用いた社内アプリケーション構築プロジェクトも計画中。
あなたの｢やりたい！｣を実現し、キャリアチェンジへの道筋をしっかりつけていくよ。

また、「全く開発経験がないんだけど、IT業界に転職したい！」という方は、新卒採用ページよりお申し込みくださいね。
またこちらのQ&Aに記載されていないご質問につきましては、お気軽にお問い合わせページから直接お問合せくださいね。

新卒採用の募集要項は「未経験採用」のページから確認できるよ。

フロイデの社員は大半は未経験者だから当然門戸は開いてるんだ。
なお、この場合、未経験者ということで、新卒と同じ扱いになるよ。

文系卒でフロイデに入社し、活躍している先輩社員が多数在籍しているよ。
